  <div class="menu">
<a href="https://lyubimov.su/ux/index.php">Главная</a>
<details>
    <summary>Мои документы</summary>
    <div>
<ul>
<li><a href="https://lyubimov.su/ux/doc/Load.html">Отчёты</a></li>
<li><a href="https://lyubimov.su/ux/doc/Reports.html">Нагрузка</a></li>
</ul></div>
</details>

<details>
    <summary>Начальная школа</summary>
    <div>
<ul>
<li>Первый класс</li>
<li>Второй класс</li>
<li>Третий класс</li>
<li>Четвёртый класс</li>
</ul></div>
</details>

<details>
    <summary>Средняя школа</summary>
    <div>
<ul>
<li>Пятый класс</li>
<li>Шестой класс</li>
<li>Седьмой класс</li>
<li>Восьмой класс</li>
<li><a href="https://lyubimov.su/ux/school/09.php">Девятый класс</a></li>
</ul></div>
</details>

<details>
    <summary>Старшая школа</summary>
    <div>
<ul>
<li><a href=https://lyubimov.su/ux/school/10.php>Десятый класс</a></li>
<li><a href=https://lyubimov.su/ux/school/11.php>Одиннадцатый класс</a></li>
</ul></div>
</details>
</div>